<label for="">Stock Ticker </label>
<input type="text" [(ngModel)]="ticker">

<label for="">  Date </label>
<input type="text" [(ngModel)]="date" value="YYYY-MM-DD">
<br><br>
<button (click)="onSubmit()" type="button" class="btn btn-dark">Get Stocks List</button>
<br><br>
<hr>
<!-- <form action="http://www.youtube.com">
    <input type="submit" value="Submit" />
</form> -->
<p>{{ displayMsg }}</p>

<h3>Stock: {{ showTicker }}</h3>
<p>Date: {{ showDate }}</p>
<p>Open price: {{ openPrice }}</p>
<p>Close price: {{ closePrice }}</p>
<p>Volume: {{ volume }}</p>
<p>High and Low of Day Average: {{ averageHighLow }}</p>

<div *ngIf="chart">
    <canvas id="canvas"> {{ chart }}
    </canvas>
  </div>